<a href="https://colab.research.google.com/github/VANISAIDEEPIKA/5H2DEEPIKA/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
# SOLUTION-1
# Declare variable x
x = 10
 # print its type
print("the type of x is:",type(x))

the type of x is: <class 'int'>

In [ ]:
# SOLUTION-2
# Declare variable x
x = 10
 # print its kind
print("the form of x is:",type(x))

the form of x is: <class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a = 5
b = 10
c = 15
sum = a+b+c
print("the sum of a,b,c is:",sum)

the sum of a,b,c is: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
age = 19
temperature = 97.6
city = "Seoul"
vegetables = ["broccoli","potato", "cabbage", "carrot"]
cost_of_vegetables = { "broccoli" : 60,  "potato" : 55 , "cabbage": 85 , "carrot" : 35  }
print(type(age))
print(type(temperature))
print(type(city))
print(type(vegetables))
print(type(cost_of_vegetables))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
#SOLUTION-1:

# Displaying arithmetic operations without using user input

a=4
b=12
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Addition: 16
Subtraction: -8
Multiplication: 48
Division: 0.3333333333333333
Modulus: 4

In [ ]:
#SOLUTION-2:
# Taking user input for two numbers = float

a = float(input("Enter first number:"))
b = float(input("Enter second number:"))

# Performing arithmetic operations and displaying the results

print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Enter first number:3
Enter second number:9
Addition: 12.0
Subtraction: -6.0
Multiplication: 27.0
Division: 0.3333333333333333
Modulus: 3.0

In [ ]:
#SOLUTION-3:

# Taking user input for two numbers = int

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

# Performing arithmetic operations and displaying the results
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Enter first number:8
Enter second number:4
Addition: 12
Subtraction: 4
Multiplication: 32
Division: 2.0
Modulus: 0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x = "123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
y=input("Enter a string:")
print(y[0])

Enter a string:chika
c

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)

# Get input from the user
user_string = input("Enter a string: ")

# Calculate and print the length of the string
string_length = len(user_string)
print("The length of the string is:", string_length)

Enter a string: VARSHA
The length of the string is: 6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
string = input("Enter a string: ")
if string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain  alphabets.")

Enter a string: VSD
The string contains only alphabets.

In [ ]:
string = input("Enter a string: ")
if string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains other alphabets also .")

Enter a string: VSD1305
The string contains other alphabets also .

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a = input("Enter the first string: ")
b = input("Enter the second string: ")
c = a + b
print("Concatenated string:", c)

Enter the first string: 5
Enter the second string: 5
Concatenated string: 55

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string = "abc"
string = input("Enter a string: ")
index = string.find("abc")
print("index of 'abc':", index)

Enter a string: deepikaabc
index of 'abc': 7

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
Z = input ("enter a Z")
print("Upper Case:",string.upper())
print("Lower Case:",string.lower())

enter a Z Deepika
Upper Case:  DEEPIKA
Lower Case:  deepika

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
X = input("Enter a X: ")
character = input("Enter a character: ")
count = string.count(character)
print(f"The character '{character}' appears {count} times in the string.")

Enter a X: deepika
Enter a character: e
The character 'e' appears 2 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
user_name = input("enter user_name")
print("Hello, "+ user_name +", Good Morning")

enter user_name VANI SAI DEEPIKA
Hello,  VANI SAI DEEPIKA , Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
z = x + y
print("Sum of the two numbers:", z)

Enter the first number: 5
Enter the second number: 15
Sum of the two numbers: 20

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, {name}! You are {age} years old.")

Enter your name: AAROHI
Enter your age: 19
Hello, AAROHI! You are 19 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
X = int(input("Enter a number: "))
if X > 0:
    print('x is positive:', X)
elif X < 0:
    print('x is negative:', X)
else:
    print('x is zero:', X)

Enter a number: 7
x is positive: 7

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
A = float(input("Enter the first number: "))
B = float(input("Enter the second number: "))
C = float(input("Enter the third number: "))
maximum = max(A, B, C)
print("The maximum of the three numbers is:", maximum)

Enter the first number: 6
Enter the second number: 7
Enter the third number: 8
The maximum of the three numbers is: 8.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2005
2005 is not a leap year.

In [3]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num1 = int(input("Enter a number: "))

if num1 % 3 == 0 and num1 % 5 == 0:
    print(f"{num1} is divisible by both 3 and 5.")
else:
    print(f"{num1} is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [6]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(text):
    processed_text = ''.join(filter(str.isalnum, text)).lower()
    return processed_text == processed_text[::-1]

user_input = input("Enter a string: ")
if is_palindrome(user_input):
    print(f"'{user_input}' is a palindrome.")
else:
    print(f"'{user_input}' is not a palindrome.")

Enter a string: pop
'pop' is a palindrome.

In [7]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
n = 1
while n <= 20:
    if n % 2 == 0:
        print(n)
    n += 1

2
4
6
8
10
12
14
16
18
20

In [26]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [31]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
try:
    n = int(input("Enter a positive integer n: "))
    if n < 1:
        print("Please enter a positive integer greater than 0.")
    else:
        result = sum_of_numbers(n)
        print(f"The sum of all numbers from 1 to {n} is: {result}")
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a positive integer n: 5
The sum of all numbers from 1 to 5 is: 15

In [33]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
current = 1
while current <= num:
    factorial *= current
    current += 1
print(f"The factorial of {num} is: {factorial}")

Enter a number: 5
The factorial of 5 is: 120

In [34]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 8
0 1 1 2 3 5 8 13

In [35]:
# Write a Python program to find all the prime numbers from 1 to 100.
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [37]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for num in range(1, 101):
    if num > 50:
        break
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [36]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [38]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
count = 0
for char in string:
    if char == character:
        count += 1
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: deepika
Enter a character: e
The character 'e' appears 2 times in the string.

In [47]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
def sum_of_digits(number):
    # Ensure the number is positive for calculation
    number = abs(number)
    digit_sum = 0

    # Calculate the sum of digits
    while number > 0:
        digit_sum += number % 10
        number //= 10

    return digit_sum

# Get user input
try:
    user_input = int(input("Enter a number: "))
    result = sum_of_digits(user_input)
    print(f"The sum of the digits of {user_input} is: {result}")
except ValueError:
    print("Please enter a valid integer.")

Enter a number: 56
The sum of the digits of 56 is: 11

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [4]:
# Write a Python program to create a list of integers and print the sum of the elements.

numbers = [15, 25, 35, 45, 55]


total_sum = sum(numbers)


print("The sum of the elements in the list is:", total_sum)

The sum of the elements in the list is: 175

In [76]:
# Write a Python program to find the largest element in a list.

list_num=[10,20,30,40,50,60,70,80,90,100,]
print(max(list_num))

100

In [52]:
# Write a Python program to reverse a list.
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [55]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [11, 20, 30, 21, 43, 28, 50]
element_to_remove = 20
numbers = [x for x in numbers if x != element_to_remove]
print("List after removing all occurrences of", element_to_remove, ":", numbers)

List after removing all occurrences of 20 : [11, 30, 21, 43, 28, 50]

In [60]:
# Write a Python program to find the index of an element in a list.
numbers = [90, 91 ,92, 93 , 94, 95, 96, 97, 98 , 99 , 100]
element_to_find = 95
index = numbers.index(element_to_find)
print("Index of", element_to_find, ":", index)

Index of 95 : 5

In [62]:
# Write a Python program to find if a specific element exists in a list.
numbers = [15, 25, 35, 45, 55]
element_to_find = 35
if element_to_find in numbers:
    print(element_to_find, "exists in the list.")

35 exists in the list.

In [63]:
# Write a Python program to remove duplicates from a list.
numbers = [10, 20, 30, 20, 40, 50, 30]
unique_numbers = list(set(numbers))
print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [40, 10, 50, 20, 30]

In [66]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [10, 20, 30, 20, 40, 50, 30]
element_to_count = 20
count = numbers.count(element_to_count)
print("Occurrences of", element_to_count, ":", count)

Occurrences of 20 : 2

In [16]:
# Write a Python program to get the number of even numbers in a list.
num = [ 6, 3, 5, 7, 8, 1, 7, 2, 5, 2, 4, 2, 4, 6, 8,
    10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46,
    48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84,
    86, 88, 90, 92, 94, 96, 98, 100
]

for i in num:
    if i % 2 == 0:  # Check if the number is even
        print(i)  # Print the even number

6
8
2
2
4
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
# Write a Python program to create a tuple and print it.
num_tuple= (1,2,3,4,5)
print(num_tuple)

(1, 2, 3, 4, 5)

In [20]:
# Write a Python program to convert a tuple to a list and vice versa

my_tuple = ( 2, 4, 6, 8, 10)

my_list = list(my_tuple)


print("Converted tuple to list:", my_list)


new_tuple = tuple(my_list)


print("Converted list back to tuple:", new_tuple)

Converted tuple to list: [2, 4, 6, 8, 10]
Converted list back to tuple: (2, 4, 6, 8, 10)

In [1]:
# Write a Python program to find the maximum and minimum values in a tuple.
num_tuple= (1,2,3,4,5)
print(max(num_tuple))
print(min(num_tuple))

5
1

In [2]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [3]:
# Write a Python program to add an element to a set and check if an element exists in the set.
# Create a set
my_set = {1, 2, 3}

# Add an element to the set
element_to_add = 4
my_set.add(element_to_add)
print(f"Set after adding {element_to_add}: {my_set}")

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} is in the set")
else:
    print(f"{element_to_check} is not in the set")

Set after adding 4: {1, 2, 3, 4}
3 is in the set

In [4]:
# Write a Python program to create a dictionary with keys and values and print it.
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [5]:
# Write a Python program to access a dictionary value using a key.
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Access a value using a key
name = my_dict["name"]

# Print the accessed value
print(name)

Alice

In [6]:
# Write a Python program to check if a key exists in a dictionary.
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Key to check for
key_to_check = "age"

# Check if the key exists using 'in'
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary")

The key 'age' exists in the dictionary

In [7]:
# Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [8]:
# Write a Python program to remove a key from a dictionary.
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Key to remove
key_to_remove = "age"

# Remove the key using del
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
    print(f"Key '{key_to_remove}' removed successfully. Updated dictionary: {my_dict}")
else:
    print(f"Key '{key_to_remove}' not found in the dictionary.")

Key 'age' removed successfully. Updated dictionary: {'name': 'Alice', 'city': 'New York'}

In [9]:
# Write a Python program to get the number of keys in a dictionary.
# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Get the number of keys using len()
num_keys = len(my_dict)

# Print the result
print(f"The dictionary has {num_keys} keys.")

The dictionary has 3 keys.

In [10]:
# Write a Python program to find the largest and smallest values in a dictionary.
# Create a dictionary
my_dict = {
    "apple": 5,
    "banana": 2,
    "orange": 8,
    "grape": 3
}

# Get the largest and smallest values
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())

# Print the results
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 8
Smallest value: 2

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [11]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2
result = square(5)
print(result)

25

In [12]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
result = add_numbers(3, 5)
print(result)

8

In [15]:
# Write a Python function to check if a given number is prime.
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
result = is_prime(17)
print(result)

True

In [17]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
        pass
result = factorial(5)
print(result)

120

In [18]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent > 0:
        return base * power(base, exponent - 1)
        pass
    else:
        return 1 / (base * power(base, -exponent - 1))
result = power(2, 3)
print(result)

8

In [19]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
result = list_length([1, 2, 3, 4, 5])
print(result)

5

In [20]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_arguments(*args):
    total = 0
    for arg in args:
        total += arg
    return total
result = sum_positional_arguments(1, 2, 3, 4, 5)
print(result)

15

In [21]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(a, b):
    return max(a, b)
result = find_maximum(b=10, a=5)
print(result)

10

In [22]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
result = calculate_product([2, 3, 4, 5])
print(result)

120

In [23]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
result = even_odd(7)
print(result)

Odd

In [24]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [26]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "kiwi", "orange", "grape"]
long_words = [word for word in words if len(word) > 4]
long_words

['apple', 'banana', 'orange', 'grape']

In [28]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = input("Enter a string: ")
uppercase_letters = [char for char in string if char.isupper()]
uppercase_letters

Enter a string:  DEEPIKA

['D', 'E', 'E', 'P', 'I', 'K', 'A']

In [30]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def generate_fibonacci(n):
    fibonacci = [0, 1]
    [fibonacci.append(fibonacci[-1] + fibonacci[-2]) for _ in range(n - 2)]
    return fibonacci
    pass
result = generate_fibonacci(10)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [31]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares_dict = {num: num**2 for num in range(1, 11)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [33]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {key: value for key, value in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [34]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {num: num**3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [35]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [40]:
# Write a Python program to filter all even numbers from a list using the filter() function.
def is_even(number):
    return number % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter() to get even numbers
even_numbers = list(filter(is_even, numbers))

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [41]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
# Define the lambda function
is_divisible_by_3_and_5 = lambda num: num % 3 == 0 and num % 5 == 0

# Get input from the user
number = int(input("Enter a number: "))

# Check divisibility and print the result
if is_divisible_by_3_and_5(number):
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [42]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [43]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
numbers = [x for x in numbers if x != element_to_remove]
print(numbers)

[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`